doctype html
html(lang="en")
  head
    title fumes007
    link(rel="stylesheet",href="css/main.css")
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  
  body
    header
      .profile
      h1 Ernest Oshokoya
    
    #links.findme
      h1 Contact me
      .links
        a(href="https://twitter.com/@lmaoatdosehoes")
          i(class="fa fa-twitter")
        a(href="https://google.com/+fumes007")
          i(class="fa fa-google-plus")
        a(href="https://github.com/fumes007")
          i(class="fa fa-github")

    footer
      p Copyright &copy; 2015 All Rights Reserved.
